{% extends 'base.html' %} {% block content %}


<div class="all-characters-page-bg">
    
    
    
<h1 class="margin-0 all-characters-page-title font-family-cinzel">Add a Character</h1>


<div class="container">
<div class="row transparent-border margin-0">
    <form class="margin-120px" action="{{ url_for('insert_character') }}" method='POST' class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" name="name" type="text" class="validate">
                <label for="icon_prefix">Character's Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" name="description" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select id="house_name" name="house_name" class="icons">
                  <option value="" disabled selected>Region Name</option>
                  {% for region in region_name %}
                      <option value="{{region.region_name}}" data-icon="">{{region.region_name}}</option>
                  {% endfor %}
                </select>
            </div>
        </div>
         <div class="row">
            <div class="input-field col s12">
                <input id="name" name="name" type="text" class="validate">
                <label for="icon_prefix">House Name</label>
            </div>
        </div>
        <button class="submit-button font-family-raleway" type="submit" name="action">
            Add Character
        </button>
    </form>
</div>


</div>


{% endblock %}