{% extends 'base.html' %} {% block content %}
<h2>Deceased Characters (up to Season 7)</h2>


<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for character in characters %} 
        <li>
            {% if character.deceased == True %}
            <div class="collapsible-header">Deceased Characters</div>
                <div class="collapsible-body">
                    <p>{{ character.name }}</p>
                    {% endif %} 
                    {% endfor %}
                </div>
        </li>
    </ul>
</div>


<div>
    <a href="{{ url_for('home_page') }}" class="waves-effect waves-light">Home Page</a>
</div>


{% endblock %}
