{% extends 'base.html' %} {% block content %}



<!-----------------BACKGROUND IMAGE----------->        

<div class="all-characters-page-bg padding-bottom-100px">



<!-----------------PAGE TITLE----------->        

<h1 class="margin-0 all-characters-page-title font-family-cinzel padding-bottom-100px">Edit a Character</h1>



<!-----------------FORM FOR EDITING A CHARACTER----------->        


<div class="container">
<div class="row">
    <form action="{{ url_for('update_character', character_id=character._id) }}" method='POST' class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" name="name" type="text" class="validate" value="{{character.name}}">
                <label for="icon_prefix">Character's Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" name="description" class="materialize-textarea">{{character.description}}</textarea>
                <label for="icon_telephone">Description</label>
            </div>
        </div>
        
        
        
<!-----------------FUNCTION FOR LOOPING OVER HOUSE NAMES FROM THE DATABASE-----------> 
        
        <div class="row">
            <div class="input-field col s12">
                <select id="house_name" name="house_name" class="icons caret">
                  <option value="" disabled selected>House Name</option>
                  {% for house in house %}
                  {% for house in house.north_house %}
                      <option value="{{house}}" data-icon=""><div class="active">{{house}}</div></option>
                  {% endfor %}
                  {% endfor %}
                  
                  {% for house in house %}
                  {% for house in house.riverland_house %}
                      <option value="{{house}}" data-icon=""><div class="active">{{house}}</div></option>
                  {% endfor %}
                  {% endfor %}
                  
                  {% for house in house %}
                  {% for house in house.the_vale_house %}
                      <option value="{{house}}" data-icon=""><div class="active">{{house}}</div></option>
                  {% endfor %}
                  {% endfor %}
                  
                  {% for house in house %}
                  {% for house in house.westerlands_house %}
                      <option value="{{house}}" data-icon=""><div class="active">{{house}}</div></option>
                  {% endfor %}
                  {% endfor %}
                  
                  {% for house in house %}
                  {% for house in house.dorne_house %}
                      <option value="{{house}}" data-icon=""><div class="active">{{house}}</div></option>
                  {% endfor %}
                  {% endfor %}
                  
                  {% for house in house %}
                  {% for house in house.crownlands_house %}
                      <option value="{{house}}" data-icon=""><div class="active">{{house}}</div></option>
                  {% endfor %}
                  {% endfor %}
                  
                  {% for house in house %}
                  {% for house in house.iron_island_house %}
                      <option value="{{house}}" data-icon=""><div class="active">{{house}}</div></option>
                  {% endfor %}
                  {% endfor %}
                  
                  {% for house in house %}
                  {% for house in house.reach_house %}
                      <option value="{{house}}" data-icon=""><div class="active">{{house}}</div></option>
                  {% endfor %}
                  {% endfor %}
                  
                  {% for house in house %}
                  {% for house in house.stormlands_house %}
                      <option value="{{house}}" data-icon=""><div class="active">{{house}}</div></option>
                  {% endfor %}
                  {% endfor %}
                  
                </select>
            </div>
        </div>
        
        

<!-----------------SUBMIT FORM ENTRIES BUTTON----------->        

        <div>
            <button class="submit-button font-family-raleway" type="submit" name="action">
                Confirm Changes
            </button>
        </div>
    </form>
</div>
</div>

</div>

{% endblock %}
