{% extends 'base.html' %} {% block content %}
<h1>Edit House</h1>

<div class="row">
    <form action="{{ url_for('update_character', character_id=character._id) }}" method='POST' class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" name="name" type="text" class="validate" value="{{character.name}}">
                <label for="icon_prefix">Character's Name</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">
                <i class="material-icons right">Confirm Changes</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}
