{% extends 'base.html' %} {% block content %}


<!-----------------BACKGROUND IMAGE-----------> 

<div class="home-page-bg">



<div class="container">
    <div class="row">
        <h1 class="home-page-title font-family-cinzel">Game of Thrones Characters</h1>
    </div>
    <div class="row">
        <p class="cersei-quote font-family-cursive">"When you play the game of thrones, you win or you die. There is no middle ground"</p>
    </div>


<!-----------------------LINK TO ALL CHARACTERS PAGE------------------->


<div class="container">
    <div class="row characters-houses-link-centering">
        <div class="col 12"><a class="all-characters-link font-family-cinzel" href="{{ url_for('get_all_characters') }}">All Characters</a>
        </div>
    </div>
</div>


<!-----------------------ACCORDION CONTAINING ALL REGIONS, HOUSES WITHIN THOSE REGIONS AND CHARACTERS------------------->


<div class="container">
<div class="row margin-0">
    <ul class="collapsible transparent-border box-shadow centered-text" data-collapsible="accordion">
        <li>
            <div class="collapsible-header background-none">
                <h4 class="font-family-cinzel">Regions</h4>
            </div>


            
            <div class="collapsible-body transparent-border"><a class="region-name" href="{{ url_for('north') }}">The North</a>
                <ul class="collapsible container transparent-border box-shadow">
                    <li>
                        <div class="collapsible-header background-none">Houses</div>
                        {% for region in the_north %}
                        <div class="collapsible-body transparent-border box-shadow">
                            {% for house in region.north_house %}
                            <ul class="collapsible container transparent-border box-shadow">
                                <li>
                                    <div class="collapsible-header background-none font-family-libre-baskerville">{{ house }}</div>
                                    <div class="collapsible-body transparent-border box-shadow white-text">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>

           <div class="collapsible-body transparent-border box-shadow"><a class="region-name" href="{{ url_for('riverlands') }}">The Riverlands</a>
                <ul class="collapsible container transparent-border box-shadow">
                    <li>
                        <div class="collapsible-header background-none">Houses</div>
                        {% for region in the_riverlands %}
                        <div class="collapsible-body transparent-border box-shadow">
                            {% for house in region.riverland_house %}
                            <ul class="collapsible container transparent-border box-shadow">
                                <li>
                                    <div class="collapsible-header background-none font-family-libre-baskerville">{{ house }}</div>
                                    <div class="collapsible-body transparent-border box-shadow white-text">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>

            <div class="collapsible-body transparent-border box-shadow"><a class="region-name" href="{{ url_for('vale') }}">The Vale</a>
                <ul class="collapsible container transparent-border box-shadow">
                    <li>
                        <div class="collapsible-header background-none">Houses</div>
                        {% for region in the_vale %}
                        <div class="collapsible-body transparent-border box-shadow">
                            {% for house in region.the_vale_house %}
                            <ul class="collapsible container transparent-border box-shadow">
                                <li>
                                    <div class="collapsible-header background-none font-family-libre-baskerville">{{ house }}</div>
                                    <div class="collapsible-body transparent-border box-shadow white-text">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            
            
            <div class="collapsible-body transparent-border box-shadow"><a class="region-name" href="{{ url_for('stormlands') }}">The Stormlands</a>
                <ul class="collapsible container transparent-border box-shadow">
                    <li>
                        <div class="collapsible-header background-none">Houses</div>
                        {% for region in the_stormlands %}
                        <div class="collapsible-body transparent-border box-shadow">
                            {% for house in region.stormlands_house %}
                            <ul class="collapsible container transparent-border box-shadow">
                                <li>
                                    <div class="collapsible-header background-none font-family-libre-baskerville">{{ house }}</div>
                                    <div class="collapsible-body transparent-border box-shadow white-text">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            
            <div class="collapsible-body transparent-border box-shadow"><a class="region-name" href="{{ url_for('iron_islands') }}">The Iron Islands</a>
                <ul class="collapsible container transparent-border box-shadow">
                    <li>
                        <div class="collapsible-header background-none">Houses</div>
                        {% for region in the_iron_islands %}
                        <div class="collapsible-body transparent-border box-shadow">
                            {% for house in region.iron_island_house %}
                            <ul class="collapsible container transparent-border box-shadow">
                                <li>
                                    <div class="collapsible-header background-none font-family-libre-baskerville">{{ house }}</div>
                                    <div class="collapsible-body transparent-border box-shadow white-text">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>

            <div class="collapsible-body transparent-border box-shadow"><a class="region-name" href="{{ url_for('crownlands') }}">The Crownlands</a>
                <ul class="collapsible container transparent-border box-shadow">
                    <li>
                        <div class="collapsible-header background-none">Houses</div>
                        {% for region in the_crownlands %}
                        <div class="collapsible-body transparent-border box-shadow">
                            {% for house in region.crownlands_house %}
                            <ul class="collapsible container transparent-border box-shadow">
                                <li>
                                    <div class="collapsible-header background-none font-family-libre-baskerville">{{ house }}</div>
                                    <div class="collapsible-body transparent-border box-shadow white-text">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            
            
            <div class="collapsible-body transparent-border box-shadow"><a class="region-name" href="{{ url_for('reach') }}">The Reach</a>
                <ul class="collapsible container transparent-border box-shadow">
                    <li>
                        <div class="collapsible-header background-none">Houses</div>
                        {% for region in the_reach %}
                        <div class="collapsible-body transparent-border box-shadow">
                            {% for house in region.reach_house %}
                            <ul class="collapsible container transparent-border box-shadow">
                                <li>
                                    <div class="collapsible-header background-none font-family-libre-baskerville">{{ house }}</div>
                                    <div class="collapsible-body transparent-border box-shadow white-text">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>


            <div class="collapsible-body transparent-border box-shadow"><a class="region-name" href="{{ url_for('dorne') }}">Dorne</a>
                <ul class="collapsible container transparent-border box-shadow">
                    <li>
                        <div class="collapsible-header background-none">Houses</div>
                        {% for region in dorne %}
                        <div class="collapsible-body transparent-border box-shadow">
                            {% for house in region.dorne_house %}
                            <ul class="collapsible container transparent-border box-shadow">
                                <li>
                                    <div class="collapsible-header background-none font-family-libre-baskerville">{{ house }}</div>
                                    <div class="collapsible-body transparent-border box-shadow white-text">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>

            <div class="collapsible-body transparent-border box-shadow"><a class="region-name" href="{{ url_for('westerlands') }}">The Westerlands</a>
                <ul class="collapsible container transparent-border box-shadow">
                    <li>
                        <div class="collapsible-header background-none">Houses</div>
                        {% for region in the_westerlands %}
                        <div class="collapsible-body transparent-border box-shadow">
                            {% for house in region.westerlands_house %}
                            <ul class="collapsible container transparent-border box-shadow">
                                <li>
                                    <div class="collapsible-header background-none font-family-libre-baskerville">{{ house }}</div>
                                    <div class="collapsible-body transparent-border box-shadow white-text">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>


        </li>
    </ul>
</div>
</div>

<div class="container">
    <div class="row margin-0">
        <h4 class="home-page-sub-title font-family-libre-baskerville">HBO's T.V Series adaptation of George R.R Martin's book series A song of Ice and Fire</h4>
    </div>
</div>


</div>





</div>


{% endblock %}