{% extends 'base.html' %} {% block content %}

<div><a href="{{ url_for('get_all_characters') }}">All Characters</a></div>

<div><a href="{{ url_for('get_houses') }}">Houses</a></div>

<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                <h4>Regions</h4>
            </div>

            <div class="collapsible-body"><a href="{{ url_for('north') }}">The North</a>
                <ul class="collapsible container">
                    <li>
                        <div class="collapsible-header">Houses</div>
                        {% for region in the_north %}
                        <div class="collapsible-body">
                            {% for house in region.north_house %}
                            <ul class="collapsible container">
                                <li>
                                    <div class="collapsible-header">{{ house }}</div>
                                    <div class="collapsible-body">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>

           <div class="collapsible-body"><a href="{{ url_for('riverlands') }}">The Riverlands</a>
                <ul class="collapsible container">
                    <li>
                        <div class="collapsible-header">Houses</div>
                        {% for region in the_riverlands %}
                        <div class="collapsible-body">
                            {% for house in region.riverland_house %}
                            <ul class="collapsible container">
                                <li>
                                    <div class="collapsible-header">{{ house }}</div>
                                    <div class="collapsible-body">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>

            <div class="collapsible-body"><a href="{{ url_for('vale') }}">The Vale</a>
                <ul class="collapsible container">
                    <li>
                        <div class="collapsible-header">Houses</div>
                        {% for region in the_vale %}
                        <div class="collapsible-body">
                            {% for house in region.the_vale_house %}
                            <ul class="collapsible container">
                                <li>
                                    <div class="collapsible-header">{{ house }}</div>
                                    <div class="collapsible-body">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            
            
            <div class="collapsible-body"><a href="{{ url_for('stormlands') }}">The Stormlands</a>
                <ul class="collapsible container">
                    <li>
                        <div class="collapsible-header">Houses</div>
                        {% for region in the_stormlands %}
                        <div class="collapsible-body">
                            {% for house in region.stormlands_house %}
                            <ul class="collapsible container">
                                <li>
                                    <div class="collapsible-header">{{ house }}</div>
                                    <div class="collapsible-body">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            
            <div class="collapsible-body"><a href="{{ url_for('iron_islands') }}">The Iron Islands</a>
                <ul class="collapsible container">
                    <li>
                        <div class="collapsible-header">Houses</div>
                        {% for region in the_iron_islands %}
                        <div class="collapsible-body">
                            {% for house in region.iron_island_house %}
                            <ul class="collapsible container">
                                <li>
                                    <div class="collapsible-header">{{ house }}</div>
                                    <div class="collapsible-body">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>

            <div class="collapsible-body"><a href="{{ url_for('crownlands') }}">The Crownlands</a>
                <ul class="collapsible container">
                    <li>
                        <div class="collapsible-header">Houses</div>
                        {% for region in the_crownlands %}
                        <div class="collapsible-body">
                            {% for house in region.crownlands_house %}
                            <ul class="collapsible container">
                                <li>
                                    <div class="collapsible-header">{{ house }}</div>
                                    <div class="collapsible-body">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            
            
            <div class="collapsible-body"><a href="{{ url_for('reach') }}">The Reach</a>
                <ul class="collapsible container">
                    <li>
                        <div class="collapsible-header">Houses</div>
                        {% for region in the_reach %}
                        <div class="collapsible-body">
                            {% for house in region.reach_house %}
                            <ul class="collapsible container">
                                <li>
                                    <div class="collapsible-header">{{ house }}</div>
                                    <div class="collapsible-body">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>


            <div class="collapsible-body"><a href="{{ url_for('dorne') }}">Dorne</a>
                <ul class="collapsible container">
                    <li>
                        <div class="collapsible-header">Houses</div>
                        {% for region in dorne %}
                        <div class="collapsible-body">
                            {% for house in region.dorne_house %}
                            <ul class="collapsible container">
                                <li>
                                    <div class="collapsible-header">{{ house }}</div>
                                    <div class="collapsible-body">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>

            <div class="collapsible-body"><a href="{{ url_for('westerlands') }}">The Westerlands</a>
                <ul class="collapsible container">
                    <li>
                        <div class="collapsible-header">Houses</div>
                        {% for region in the_westerlands %}
                        <div class="collapsible-body">
                            {% for house in region.westerlands_house %}
                            <ul class="collapsible container">
                                <li>
                                    <div class="collapsible-header">{{ house }}</div>
                                    <div class="collapsible-body">
                                        {% for character in characters %}
                                            {% if character.house_name == house %}
                                                 <p>{{character.name}}<p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>


        </li>
    </ul>
</div>
</div>

<ul class="collapsible" data-collapsible="accordion">
    <!--<div class="row">-->
    <!--    <div class="col s6 offset-s3">-->
    <li>
        <div class="collapsible-header">
            <h5>Deceased Characters (up to season 7) *Spoilers</h5>
        </div>
        <div class="collapsible-body"><a href="{{ url_for('deceased_characters') }}">Dead</a></div>
        <div class="collapsible-body"><a href="{{ url_for('alive_characters') }}">Alive</a></div>
    </li>
    <!--</div>-->
    <!--</div>-->
</ul>

<div><a href="{{ url_for('alive_characters') }}">Characters still alive (Up to Season 7)</a></div>


{% endblock %}
