{% extends 'base.html' %} {% block content %}
<h3>Regions</h3>

<ul class="collapsible" data-collapsible="accordion">
{% for region in region %}
    <li>
        <div class="collapsible-header"><h4>{{region.region_name}}</h4></div>
            <div class="collapsible-body"><span>{% for house in region.house_name %}
                    <p><a href="#">{{ house }}</a></p>
                        {% endfor %}
                </span>
            </div>
    </li>
{% endfor %}
</ul>



<div>
    <a href="{{url_for('add_region')}}" class="waves-effect waves-light">Add Region</a>
</div>

<div>
    <a href="{{url_for('home_page')}}" class="waves-effect waves-light">Home Page</a>
</div>


{% endblock %}
